body {
	text-align:center;
}

#scores {
	display:inline-block;
	margin: 0 auto;
	position:relative;
}

td {
	min-width: 5em;
	height: 2ex;
	font-size: x-large;
}

input {
	font-size: x-large;
	width:100%;
	border:0px;
}

#playerName {
	font-weight:bold;
}

#nameAdder {
	background-color:#0088FF;
	width: 100%;
	left: 0%;
	bottom: 5%;
	position:absolute;
	padding: 1ex;
	border-radius: 1ex;
	text-align:center;
}
#newName {
	display:block;
	margin: 0 auto;
	width: 90%;
	font-size: 5vw;
	text-align:center;
}
#nameAdderButtons {
	display:inline-block;
	margin: auto;
}

#addPlayer {
	font-size: 5vw;
}

#startGame {
	font-size: 5vw;
}