body {
	text-align:center;
}

#scores {
	display:inline-block;
	margin: 0 auto;
	position:relative;
}

td {
	min-width: 5em;
	height: 2ex;
}

#playerName {
	font-weight:bold;
}

#nameAdder {
	background-color:#0088FF;
	width: 50%;
	left: 25%;
	bottom: 5%;
	position:absolute;
	padding: 1ex;
	border-radius: 1ex;
	text-align:center;
}
#newName {
	display:block;
	margin: 0 auto;
	width: 90%;
	text-align:center;
}
#nameAdderButtons {
	display:inline-block;
	margin: auto;
}